/* This file is for your main application css. */

.help-block {
    color: red;
    text-transform: capitalize;
    position: absolute;
    top: 2rem;
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
}

main,
h1,
h2,
h3,
h4,
h5,
li {
    color: black;
}

/* .collection,
.collection-item {
    padding-right: 20rem;
} */